/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0d0d0d;
    color: white;
    transition: 0.5s;
}
.darkThem{
    display: flex;
    align-items: center;
    color: #fdd282;
}
.cont{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: #27334d;
    margin: 20px;
}
.circl{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: aliceblue;
}
/* HEADER */
.header {
    width: 100%;
    padding: 15px 40px;
    background: #111827;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #00A3FF;
}

.nav a {
    margin: 0 15px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: 500;
}
.nav a:hover {
    color: #00A3FF;
}
.active{
    border-bottom: 2px solid #0073C8;
}
.search-box input {
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 300px;
    background-color: #27334d;
}

.login-btn {
    background: #111827;
    padding: 8px 30px;
    border-radius: 6px;
    border: 1px solid #d4d4d4;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s;
}
.login-btn:hover {
    background: #0073C8;
    border: none;
    border: 1px solid #0073C8;
}

/* HERO */
.hero {
    height: 70vh;
    background: url('https://res.cloudinary.com/dqavvqgvm/image/upload/v1771447284/66ecb58a7db3308030eac58dbb3d39c3_vy0jmz.jpg') center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: relative;
    width: 100%;
}



.hero-content {
    position: relative;
    max-width: 500px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
}

.rating {
    margin: 10px 0;
    opacity: .8;
}

.desc {
    margin-bottom: 20px;
    opacity: .9;
}

.hero-btns .btn-primary {
    background: #00A3FF;
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    color: white;
    font-weight: 600;
}

.hero-btns .btn-secondary {
    background: #111827;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

/* SECTION */
.section {
    padding: 50px 40px;
}

.title {
    font-size: 26px;
    margin-bottom: 20px;
}

/* MOVIE ROW */
.movie-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    justify-content: center;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
}

/* CARD */
.card {
    background: #111827;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.card img {
    width: 100%;
    height: 260px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.05);
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    color: #777;
    border-top: 1px solid #222;
}
@media screen and (max-width:1000px) {
    .nav,.login-btn{
        display: none;
    }
    .search-box input{
        width: 100px;
    }
    .header{
        padding: 0px 10px;
    }
    .logo {
        font-size: 16px;
        font-weight: 700;
        color: #00A3FF;
    }
    .search-box{
        display: none;
    }
}
